<div class="div-main">
    <div class="title-page">
        <H2>View User</H2>   
    </div>


    <div class="page-user">
        <div class="row py-3">
            
            <div class="col-md-5 col-lg-3 mb-3">
                <div class="card-user card card-view-user">
                    <div class="container-card">
                        <div class="image">
                            <img alt="..." src="https://demos.creative-tim.com/now-ui-dashboard-pro-react/static/media/bg5.d60a95eb.jpg"> 
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <img alt="..." class="avatar border-gray" src="../../../../../assets/images/pict-user.jpg">
                                <h5 class="title"></h5>
    
                                <p class="description user-id">{{user?.userName}}</p>
                            </div>
                            <p class="description text-center" *ngIf="user?.role == 'ADMIN'" >Administrateur</p>
                            <p class="description text-center" *ngIf="user?.role == 'NURSE'" >Infirmier</p>
                            <hr>
                        </div>   
                       <div class="button-container">
                            <button mat-mini-fab color="custom-fab" class="btn-icon">
                                <mat-icon matTooltip="Change your password" matTooltipClass="custom-tooltip" (click)="openDialogChangePass(user)">password</mat-icon>
                            </button>
                            
    
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="col-md-7 col-lg-9 mb-3">
                <div class="card-user card card-info-user">
                    <div class="row">
                        <div class="col-12 div-btn">
                            <a (click)="openDialogEditUser(user)">Edit profile</a>
                        </div>
                        
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">First Name<a>
                                    <mat-icon class="icon-display">mode_edit</mat-icon>
                                </a></p>
                            <p class="description-info">{{user?.firstName}}</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Last Name <a>
                                    <mat-icon class="icon-display">mode_edit</mat-icon>
                                </a></p>
                            <p class="description-info">{{user?.lastName}}</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Email <a>
                                    <mat-icon class="icon-display">mode_edit</mat-icon>
                                </a></p>
                            <p class="description-info">{{user?.email}}</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-2">
                            <p class="title-info">Mobile<a>
                                    <mat-icon class="icon-display">mode_edit</mat-icon>
                                </a></p>
                            <p class="description-info">{{user?.phoneNumber}}</p>
                        </div>
                        <div class="col-sm-12 col-md-8 mb-2">
                            <p class="title-info">Address <a>
                                    <mat-icon class="icon-display">mode_edit</mat-icon>
                                </a></p>
                            <p class="description-info">Tunis</p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>



            </div>

        </div>
