<mat-toolbar class="header">
  <!-- Partie commune à l'administrateur et à l'infirmier -->
  <div class="nav-left">
    <!-- Bouton de menu mobile -->
    <button class="btn-mobile-principal"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <!-- Bouton pour réduire/étendre la barre de navigation -->
    <button mat-button class="btn-chevron" onclick="isExp()" (click)="isExpanded = !isExpanded">
      <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">
        menu
      </mat-icon>
    </button>

    <!-- Logo -->
    <a class="navbar-brand me-0 px-3 fs-6 slide-in-blurred-top" href="#" [routerLink]="'liste-user'">
      <img src="../../../../../assets/images/tanitlabailogo.png" class="logo">
    </a>
  </div>

  <!-- Nom de l'utilisateur -->
  <p-chip label="{{user?.firstName }} {{user?.lastName }}" image="../../../../../assets/images/pict-user.jpg" alt="Avatar image"></p-chip>

  <!-- Partie commune à l'administrateur et à l'infirmier -->
  <div class="navbar-nav custom-navbar">
    <div class="nav-item text-nowrap nav-header px-0">
      <!-- Notification -->
      <app-header-notification></app-header-notification>

      <!-- Paramètres de profil -->
      <div class="dropdown px-md-3 px-xs-2 px-sm-2 m-auto ">
        <a href="#"
          class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle slide-in-blurred-top m-auto"
          data-bs-toggle="dropdown" aria-expanded="false">
          <div class="user-profil-img rounded-5 me-2"></div>
        </a>
        <ul
          class="dropdown-menu ul-profil dropdown-menu-perso dropdown-menu-light text-small shadow  slide-in-blurred-top" style="inset: none;">
          <li>
            <div class="li-profil-img">
              <img src="../../../../../assets/images/pict-user.jpg" alt="" width="40" height="40"
                class="rounded me-2 color-change-2x1"> <br>
              {{user?.firstName }} {{user?.lastName }}
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <!-- Déconnexion -->
          <li>
            <a class="dropdown-item " (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</mat-toolbar>

<!-- Barre de navigation latérale -->
<mat-sidenav-container class="sidenav-container" autosize id="sidenav" >

  <mat-sidenav #drawer class="sidenav menu swing-in-left-bck"
              [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
              [mode]="(isHandset$ | async) ? 'over' : 'side'"
              [opened]="(isHandset$ | async) === false"
              [ngClass]="{'new-width': !isExpanded}" >

    <mat-nav-list class=" menu-style" [ngClass]="{'new-style-css': !isExpanded}">
    

      <!-- FONCTION ADMIN -->
      <ng-container *ngIf="user?.role === 'ADMIN'">
        <mat-list-item [routerLink]="'dashborad'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >trending_up</mat-icon>
          <span >Dashboard</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-user'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >group</mat-icon>
          <span >Utilisateurs</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-doctor'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >medical_services</mat-icon>
          <span >Médecins</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'liste-dispensaire'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">local_hospital</mat-icon>
          <span >Dispensaires</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'alert'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">warning</mat-icon>
          <span >Alert</span>
        </mat-list-item>
        
      </ng-container>

      <!-- FONCTION NURSE-->
      <ng-container *ngIf="user?.role === 'NURSE'">
        <mat-list-item [routerLink]="'calendrier'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">calendar_today</mat-icon>
          <span >Rendez-vous</span>
        </mat-list-item>
      </ng-container>

        <!-- FONCTION NURSE && ADMIN-->
     
        <mat-list-item [routerLink]="'liste-dossier'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link" >wc</mat-icon>
          <span >Dossiers</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'list-parametres'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">settings</mat-icon>
          <span >Paramètres</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'view-user'" routerLinkActive="active" class="list-item">
          <mat-icon mat-list-icon class="icon-link">person</mat-icon>
          <span >Profile</span>
        </mat-list-item> 
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
