<div class="div-main">
    <div class="title-page">
      <h2 style="color: #2eb165;">Liste des actes Médicales</h2>
  
    </div>
  
  
      <p-table [value]="actes" [paginator]="true" [rows]="4" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '10rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[4, 8, 12 , 16]">
  
        <ng-template pTemplate="body" let-actes>
          <tr>
            <td ><span class="text-dark badge badge-soft-primary">{{ actes.acteMedical }}</span> </td>
           
            <td >
              <button pButton  icon="pi pi-pencil" class="p-button-rounded" severity="secondary"></button>
              <button pButton icon="pi pi-trash" style="margin-left: 2px;" class="p-button-rounded p-button-danger" severity="secondary" (click)="delete(actes.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  
    </div>
  