.fc-toolbar {
    background-color: red; /* Change the background color */
    color: white; /* Change the text color */
  }

  .event-tooltip {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    display: none;
  }