

<div class="div-main">
  <div class="title-page">
    <h2 style="color: #2eb165">Dashboard</h2>
  </div>

  <div>
    <div style="overflow-x: hidden">
      <div class="row">
        
        <!--Carte Nb Dossiers-->
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-info cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 text-secondary">Total Dossiers</p>
                  </div>
                <div
                  class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-blue ms-auto">
                {{allDoss?.length}} 
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--Carte Nb Médecins -->
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-danger cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total Médecin</p>
                </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-blue ms-auto">
                    {{allDispo?.length}}
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-warning cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total Infimiers</p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-blue ms-auto">{{nurse}}</div>
              </div>
            </div>
          </div>
        </div>

         <!--Carte Nb Administrateurs-->
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-warning cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total Administrateur</p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-blue ms-auto">{{admin}}</div>
              </div>
            </div>
          </div>
        </div>

       


      </div>
      <div class="row">
        

         <!--Carte Nb Rendez-vous-->
         <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-success cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total Rendez vous</p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-blue ms-auto">{{allRendezVous?.length}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Duree des consultation moyen-->
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-warning cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 text-secondary">Temps moyen de consultation</p>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-blue ms-auto">
                  {{dureeMoyen}}
                  </div>
              </div>
            </div>
          </div>
        </div>
        
 <!--Carte Nb Alerts-->
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-warning cardDash">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total Changements des dispensaires</p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-blue ms-auto">{{AllAlerts?.length}}</div>
              </div>
            </div>
          </div>
        </div>


      </div>
<div class="row">
        <div class="d-flex justify-content-center">
          <div class="chartBar">
            <canvas id="myChart"></canvas>
          </div>
        </div>

    <div class="d-flex justify-content-center">

        <!--Status Rendez-vous-->
        <div class="col-md-3 pie ">
          <div class="chartPie card">
            <h3 class="card-title">Les rendez-vous par Status</h3>
            <div class="card-body">
              <canvas id="myPie"></canvas>
            </div>
          </div>
        </div>

        <!-- Type Consultation-->
        <div class="col-md-3 pie">
          <div class="chartPie card">
            <h3 class="card-title">Les rendez vous pas Type</h3>
            <div class="card-body">
              <canvas id="myPieTwo"></canvas>
            </div>
          </div>
        </div>

        <!--Dossiers par genre-->
        <div class="col-md-3 pie ">
          <div class="chartPie card">
            <h3 class="card-title">Les dossiers médicales par genre</h3>
            <div class="card-body">
              <canvas id="pieThree"></canvas>
            </div>
          </div>
        </div>

    </div>



      <!--Nb médecins par specialite-->
        <div class="d-flex justify-content-center">
          <div class="chartBar2">
            <canvas id="myChartTwo"></canvas>
          </div>
        </div>
        

        

</div>
<div class="row">
        
  <div class="d-flex justify-content-center">
      <div class="chartLine">
        <canvas id="lineOne"></canvas>
      </div>
      
    
  </div>
  

</div>



    </div>
  </div>
</div>
